.container {
    width: 400px
}

input[type=range] {
    -webkit-appearance: slider-vertical;
    transform: scaleX(-1);
    transform-origin: center;
}

div.range-slider {
    margin: 0;
}

input#slider {
    width: 50px;
}

.footer {
    font-size: x-small;
}
